@model AspNetCoreAdminPanel.WebUI.Models.ProductViewModel
<div class="row">
    <div class="col-sm-12">
        <div class="card-box table-responsive">
            <h4 class="header-title m-t-0 m-b-30">List of Products</h4>

            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#product-adding-modal" data-dismiss="modal" style="margin-bottom:10px; margin-left:8px;">Add Product</button>

            <div id="datatable-buttons_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                <table id="datatable-buttons" class="table table-dark table-hover  " role="grid" aria-describedby="datatable-buttons_info">
                    <thead style="color:coral">
                        <tr role="row">
                            <th class="sorting_asc" tabindex="0" aria-controls="datatable-buttons" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Id: activate to sort column descending" style="width: 5%;">Id</th>
                            <th class="sorting_" tabindex="1" aria-controls="datatable-buttons" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 20%;">Name</th>
                            <th class="sorting" tabindex="2" aria-controls="datatable-buttons" rowspan="1" colspan="1" aria-label="IsActive: activate to sort column descending" style="width: 15%;">Is Category</th>
                            <th class="sorting" tabindex="3" aria-controls="datatable-buttons" rowspan="1" colspan="1" aria-label="AddedBy: activate to sort column descending" style="width: 15%;">Height</th>
                            <th class="sorting" tabindex="4" aria-controls="datatable-buttons" rowspan="1" colspan="1" aria-label="AddedDate: activate to sort column descending" style="width: 15%; ">Weight</th>
                            <th class="sorting" tabindex="4" aria-controls="datatable-buttons" rowspan="1" colspan="1" aria-label="AddedDate: activate to sort column descending" style="width: 15%;">Width</th>
                            <th rowspan="1" colspan="1" style="width: 50px; display: none" ;>&</th>
                            <th rowspan="1" colspan="1" style="width: 50px; display: none" ;>&</th>
                            <th rowspan="1" colspan="1" style="width: 50px; display: none" ;>&</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var product in Model.Products)
                        {
                            <tr role="row" class="odd">
                                <td class="sorting_1" tabindex="0">@product.ProductId</td>
                                <td>@product.ProductName</td>
                                <td>@product.CategoryName</td>
                                <td>@product.Height</td>
                                <td>@product.Weight</td>
                                <td>@product.Width</td>
                                <td align="center"><button class="btn btn-purple" data-toggle="modal" data-target="#product-updating-modal" onclick="editProduct(@product.ProductId)">Edit</button></td>
                                <td align="center"><button class="btn btn-danger" onclick="deleteProduct(@product.ProductId)">Delete</button></td>
                                 <td align="center"><a href="/Product/GetProductDetail/@product.ProductId" class="btn btn-info">Detail</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div><!-- end col -->
</div>
<div id="product-adding-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <form asp-controller="Product" asp-action="Add" method="post" enctype="multipart/form-data">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title"><i class="fa fa-plus-circle"></i> Add Product</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="field-1" class="control-label">Name</label>
                                <input asp-for="@Model.Product.Name" type="text" class="form-control" id="field-1" placeholder="Enter Name">
                            </div>
                            <div class="form-group">
                                <label for="field-2" class="control-label">category Id</label>
                                <select class="form-control" itemid="drpCategories" asp-for="@Model.Product.CategoryId" asp-items="Model.Categories">
                                    <option disabled selected="-1">--Choose--</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="field-3" class="control-label">Height</label>
                                <input asp-for="@Model.Product.Height" type="text" class="form-control" id="field-1" placeholder="Enter Height">
                            </div>
                            <div class="form-group">
                                <label for="field-4" class="control-label">Weight</label>
                                <input asp-for="@Model.Product.Weight" type="text" class="form-control" id="field-1" placeholder="Enter Height">
                            </div>
                            <div class="form-group">
                                <label for="field-5" class="control-label">Width</label>
                                <input asp-for="@Model.Product.Width" type="text" class="form-control" id="field-1" placeholder="Enter Width">
                            </div>
                            <div class="form-group">
                                <label for="field-6" class="control-label">Description</label>
                                <textarea asp-for="@Model.Product.Description" type="text" class="form-control autogrow" id="descriptionForUpdate" placeholder="Write something about product" style="overflow:hidden;word-wrap:break-word; resize:horizontal; height:104px;"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="field-7" class="control-label">Ürün Resim</label>
                                <input type="file" asp-items = "@Model.FormFiles" name="formFiles" class="dropify" multiple data-show-upload="true" data-height="85" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-purple waves-effect waves-light">Save changes</button>
                </div>
            </div>
        </form>
    </div>
</div><!-- /.modal -->

<div id="product-updating-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <form asp-controller="Product" asp-action="Edit" method="post">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title"><i class="fa fa-plus-circle"></i> Update Product</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <input asp-for="@Model.Product.Id" id="productId" hidden />
                            <div class="form-group">
                                <label for="field-7" class="control-label">Name</label>
                                <input asp-for="@Model.Product.Name" type="text" class="form-control" id="nameForUpdate" placeholder="Enter Name">
                            </div>
                            <div class="form-group">
                                <label for="field-8" class="control-label">category Id</label>
                                <select class="form-control" itemid="drpCategoriesforUpdate" asp-for="@Model.Product.CategoryId" asp-items="Model.Categories">
                                    <option disabled selected="-1">--Choose--</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="field-9" class="control-label">Height</label>
                                <input asp-for="@Model.Product.Height" type="text" class="form-control" id="heightForUpdate" placeholder="Enter Height">
                            </div>
                            <div class="form-group">
                                <label for="field-10" class="control-label">Weight</label>
                                <input asp-for="@Model.Product.Weight" type="text" class="form-control" id="weightForUpdate" placeholder="Enter Weight">
                            </div>
                            <div class="form-group">
                                <label for="field-11" class="control-label">Width</label>
                                <input asp-for="@Model.Product.Width" type="text" class="form-control" id="widthForUpdate" placeholder="Enter Width">
                            </div>
                             <div class="form-group">
                                <label for="field-12" class="control-label">Description</label>
                                <textarea asp-for="@Model.Product.Description" type="text" class="form-control autogrow" id="descriptionForUpdate" placeholder="Write something about product" style="overflow:hidden;word-wrap:break-word; resize:horizontal; height:104px;"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-purple waves-effect waves-light">Save changes</button>
                </div>
            </div>
        </form>
    </div>
</div><!-- /.modal -->

<script type="text/javascript">
    function editProduct(id) {
         $.get("/Product/Edit", { id: id })
             .done(function (result) {
                 $('#productId').val(result.id);
                 $('#nameForUpdate').val(result.name);
                 $('#heightForUpdate').val(result.height);
                 $('#weightForUpdate').val(result.weight);
                 $('#widthForUpdate').val(result.width);
                 $('#descriptionForUpdate').val(result.description);
                 $("#drpCategoriesforUpdate").val(result.categoryid);
                 $('#product-updating-modal').modal('show');
             })
     }

     function deleteProduct(id) {
        swal({
            title: "Are you sure you want to delete it?",
            text: "Deleted records are not listed again!",
            type: "warning",
            showCancelButton: true,
            cancelButtonText: "Exit",
            confirmButtonClass: "btn-warning",
            confirmButtonText: "Yes, you can delete it!",
            closeOnConfirm: false
        },
            function () {
                $.get("/Product/Delete/", { id: id })
                    .done(function (result) {
                        if (result == 0) {
                            swal("Warning!", "An Error Has Occurred!", "warning");
                        }
                        else {
                            swal("Basarili!", "Your operation has been successfully performed!", "success");
                            location.reload();
                        }
                    })
            });
    }
     
</script>